<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AdWordsApi" type="System.Configuration.DictionarySectionHandler" />
    <section name="system.diagnostics" type="System.Diagnostics.SystemDiagnosticsSection" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<AdWordsApi>

    <add key="MaskCredentials" value="true" />


    <add key="EnableGzipCompression" value="true" />

    <add key="IncludeUtilitiesInUserAgent" value="true" />

    <add key="ProxyServer" value="" />
    <add key="ProxyUser" value="" />
    <add key="ProxyPassword" value="" />
    <add key="ProxyDomain" value="" />

    <add key="DeveloperToken" value="t9IBPGRm3U3ezKbef9noIQ" />

    <add key="ClientCustomerId" value="637-484-0850" />

    <add key="SkipReportHeader" value="false" />
    <add key="SkipReportSummary" value="false" />
    <add key="SkipColumnHeader" value="false" />

    <add key="AuthorizationMethod" value="OAuth2" />
    <add key="OAuth2ClientId" value="672401238896-3bvshp34ppkduo5gapddk1m6cn151tr9.apps.googleusercontent.com" />
    <add key="OAuth2ClientSecret" value="qHBO92nJyTUBzUW5WPiAWwVa" />
    <add key="OAuth2Mode" value="APPLICATION" />
    <add key="OAuth2RefreshToken" value="1//046lSlUTRopBsCgYIARAAGAQSNwF-L9IrXjmTWdS0D12NC3-xmgihFmwHdADKTBYM78csa7HK0FAoWe2vnErR8CAtlrrqmEa-HP4" />


  </AdWordsApi><system.diagnostics>
    <sources>
      <source name="AdsClientLibs.DeprecationMessages" switchName="AdsClientLibs.DeprecationMessages" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Application" />
        </listeners>
      </source>
      <source name="AdsClientLibs.DetailedRequestLogs" switchName="AdsClientLibs.DetailedRequestLogs" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="detailedRequestLogListener" type="System.Diagnostics.ConsoleTraceListener" initializeData="true" />
          <!-- Use the following to log to file. Modify the initializeData
               attribute to control the path to the detailed request log file.
          <add name="detailedRequestLogListener" type="System.Diagnostics.TextWriterTraceListener"
               initializeData="C:\Logs\AdWords\detailed_logs.log"/>
          -->
          <remove name="Default" />
        </listeners>
      </source>
      <source name="AdsClientLibs.SummaryRequestLogs" switchName="AdsClientLibs.SummaryRequestLogs" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="summaryRequestLogListener" type="System.Diagnostics.ConsoleTraceListener" initializeData="true" />
          <!-- Use the following to log to file. Modify the initializeData
               attribute to control the path to the summary request log file.
          <add name="summaryRequestLogListener" type="System.Diagnostics.TextWriterTraceListener"
               initializeData="C:\Logs\AdWords\summary_logs.log"/>
          -->
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- Use this trace switch to control the deprecation trace messages
          written by Ads* .NET libraries. The default is level is set to
          Warning. To disable all messages, set this value to Off. See
          http://msdn.microsoft.com/en-us/library/system.diagnostics.sourcelevels.aspx
          for all possible values this key can take. -->
      <add name="AdsClientLibs.DeprecationMessages" value="Warning" />
      <!-- Use this trace switch to control the detailed request logs written by Ads*
          .NET libraries. The default level is set to Off. Logs are generated at
          both the Error and Information levels. -->
      <add name="AdsClientLibs.DetailedRequestLogs" value="Off" />
      <!-- Use this trace switch to control the summary request logs written by
          Ads* .NET libraries. The default level is set to Off. Logs are
          generated at both the Error and Information levels. -->
      <add name="AdsClientLibs.SummaryRequestLogs" value="Off" />
    </switches>
    <trace autoflush="true" />
  </system.diagnostics></configuration>