@page "/counter"
@using AdWordsManager.Data.POCO;
@using AdWordsManager.Service.GoogleSpreadSheets;
@using AdWordsManager.Providers.Providers
@inject IManagerAccountProvider ManagerAccountService
@inject IGoogleSpreadSheetService GoogleSpreadSheet
@if (_managerAccounts.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Занят ботом</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in _managerAccounts)
            {
                <tr>
                    <td>@account.Name</td>
                    <td>@IsBusy(account)</td>
                    <!--<td><button @onclick="(() => { Update(forecast); })" class="btn btn-success">Сохранять</button></td>-->
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private int currentCount = 0;
    private List<ManagerAccounts> _managerAccounts = new List<ManagerAccounts>();

    protected override async Task OnInitializedAsync()
    {
        _managerAccounts = (await ManagerAccountService.GetAll()).ToList();
        GoogleSpreadSheet.Push();
    }
    private string IsBusy(ManagerAccounts managerAccounts)
    {
        return managerAccounts.IsBusy ? "Да" : "Нет";
    }
}
